<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="user/base:: layout( ~{ ::section } )">
<head>
<meta charset="UTF-8" />
<!-- dynamic title  -->
<title th:text="${title}"> </title>

</head>
<body>

	<section>
        
		<div class="card ms-4 me-4">
			<div class="card-body">
					<h1 class="text-center"> Your Contacts</h1>
					
					<table class="table">
						  <thead>
						    	<tr>
								      <th scope="col">#ID</th>
								      <th scope="col">Name</th>
								      <th scope="col">Email</th>
							          <th scope="col">Phone</th>
							          <th scope="col">Action</th>        
						   	 </tr>
						  </thead>
						  
						  <tbody> <!--  "variable : ${object} "-->
							    <tr th:each="c : ${contacts}">
								      <th scope="row"  th:text="${ 'SCM2021' + c.cid}"></th>
								      
								      <td> 
								            <img th:src="@{'/img/'+${c.img} }"  class="my-profile-picture" > <!--alt="profile photo" -->
								            
								      		<span th:text="${c.name}"></span>
								      </td>
								      
								      <td>
								      		<a href="#" th:href=" ${c.cid}+ '/contact' ">
								      			<span th:text="${c.email}"></span>
								      		</a>
								      </td>
								      <td th:text="${c.phone}"></td>
								      <td>
								      		<!--  without alert message delete contact
								      		<a th:href="@{'delete/' +${c.cid}}" class="btn btn-danger btn-sm">Delete</a>
								            <a th:href="@{'update/' +${c.cid}}"class="btn btn-primary btn-sm">Update</a>								            
								             -->
								            
								            <!-- with alert message delete contact -->
								            <a href="#" th:onclick="|deleteContact( ${c.cid} )|" class="btn btn-danger btn-sm mb-2">Delete</a>
								            <!-- a tag means by default GET method  -->
								            
								            <form method="POST" th:action=" @{'update-contact/' +${c.cid}} ">
								            		<button type="submit" class="btn btn-primary btn-sm">Update</button>
								            </form>
								      </td>	      
							    </tr>
					     </tbody>
					</table>
					
			<!--  pagination
					<nav aria-label="Page navigation example">
						  <ul class="pagination">
							    <li th:if="${ currentPage != 0 }" class="page-item">
							   	     <a class="page-link" th:href="@{ '/user/show-contacts/' + ${ currentPage-1} }">Previous</a>
							    </li>
							    
							    <li th:classappend="${currentPage == i-1 ? 'active' : ' ' }"  class="page-item"  th:each="i : ${#numbers.sequence(1,totalPages) }" >
							  		  <a class="page-link" th:href="@{ '/user/show-contacts/' + ${i-1} }"> <span th:text="${i}"></span> </a>
							    </li>
							    
							    <li th:if="${ currentPage+1 != totalPages }" class="page-item">
							   		 <a class="page-link"  th:href="@{ '/user/show-contacts/' + ${currentPage+1} }">Next</a>
							    </li>
						  </ul>
					</nav>
					end pagination -->
										
			</div>
		</div>

	</section>

</body>
</html>