<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="user/base:: layout( ~{ ::section } )">
<head>
<meta charset="UTF-8" />
<title th:text="${title}"> </title>
</head>
<body>

	<section>			
			<div class="card ms-4 me-4">
				<div class="card-body">
						<h1 class="text-center"> Update Contact</h1>
						
						<div class="container-fluid mt-1">
						      <div class="row">
								<div class="col-md-8 offset-md-2">  
								 
								       <!-- for image we use enctype="multipart/form-data"-->
								       <form action="#"  th:object="${contact}"  enctype="multipart/form-data" method="POST"
								                 th:action="@{'/user/process-update/' +${contact.cid}}" class="mt-2"  >   
								               
								               <!--  hidden field for contact ID-->  
								             <input type="hidden" th:value="${contact.cid}" name="cid" />
								                 
								                  <!--contact image -->
								                 <div class="container text-center mb-2">
								                     <img class="detail-profile-picture" src="" th:src="@{'/img/'+${contact.img}}" alt="" />								                    
								                 </div>
								                 
								                 <div class="custom-file text-center mb-2">
								                 		<input type="file"  name="profileImage" />
								                 </div>								   
								                 <!--end contact image -->
								                                                                  								                 
								                 <!--name  -->
								                 <div class="input-group mb-2">
								                 		<div class="input-group-prepend">
								                 				<div class="input-group-text me-2"><i class="fa fa-plus p-2"></i></div>
								                 		</div>
								                 		<input required type="text" th:value="${contact.name}" name="name" id="name" placeholder="Enter Name" class="form-control" />
								                 </div>
								                 <!-- end name -->
								                 
								                   <!--second name  -->
								                 <div class="input-group mb-2 ">
								                 		<div class="input-group-prepend">
								                 				<div class="input-group-text me-2"><i class="fas fa-user-alt p-2"></i></div>
								                 		</div>
								                 		<input required type="text"  th:value="${contact.secondName}" name="secondName" id="secondName" placeholder="Enter Nick Name" class="form-control" />
								                 </div>
								                 <!--end second name  -->
								                 
								                 <!--phone  -->
								                 <div class="input-group mb-2">
								                 		<div class="input-group-prepend">
								                 				<div class="input-group-text me-2"> <i class="fa fa-phone-alt p-2"></i> </div>
								                 		</div>
								                 		<input required type="number"  th:value="${contact.phone}" name="phone" id="phone" placeholder="Enter Phone Number" class="form-control" />
								                 </div>
								                 <!-- end phone -->
								                 
								                  <!--email  -->
								                 <div class="input-group mb-2">
								                 		<div class="input-group-prepend">
								                 				<div class="input-group-text me-2"><i class="fas fa-envelope p-2"></i> </div>
								                 		</div>
								                 		<input required type="email"  th:value="${contact.email}" name="email" id="email" placeholder="Enter Email" class="form-control" />
								                 </div>
								                 <!-- end email -->
								                        
								                 <!--work  -->
								                 <div class="input-group mb-2 ">
								                 		<div class="input-group-prepend">
								                 				<div class="input-group-text me-2"><i class="fa fa-briefcase p-2"></i></div>
								                 		</div>
								                 		<input required type="text"  th:value="${contact.work}" name="work" id="work" placeholder="Enter Work" class="form-control" />
								                 </div>
								                 <!--end work  -->
								                 
								                 <!-- contact description -->
								                 <div class="form-group mb-2">
								                 		<textarea  th:text="${contact.description}" name="description" id="description" rows="15" class="form-control"> </textarea>
								                 </div>								        
								                 <!-- end  contact description -->
								                 							               
								                 <!-- button -->
								                 <div class="container text-center">
								                 		<button class="btn btn-outline-primary">Save contact</button>
								                 </div>
								                 					  
								       </form>
								       
								</div>
						      </div>
						</div>
				
				</div>			
			</div>	
			
			<!-- script to add tinyMCE text edior in textarea  -->
			<script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
			<script> tinymce.init({selector: '#description' }); </script>	
			<!-- '#description'   id of textarea -->
						
	</section>

</body>
</html>